
.home-container {
    display: flex;
    justify-content: center; 
   
  }
  
  .banner {
    width: 100%;
    max-width: 1300px;
    text-align: center; 
  }
  
  .banner img {
    max-width: 100%;
    height: auto;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  