.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; 
    margin-top: 30px;
    margin-bottom: 40px;
}
  
.grid-item img {
    width: 50%;
    margin-left: 300px;
}
  
.shopping-cart-icon {
    width: 10px; 
    height: 10px;
}
  
 
.book-title {
    margin: 0;
    margin-bottom: 10px; 
}
  
.book-synopsis {
    margin: 0; 
    margin-right: 300px;
    margin-bottom: 5px;
}
  
.book-author,
.book-price {
    margin: 0;
    margin-bottom: 5px;
}
  